<h1 mat-dialog-title>Editing {{user.username}}</h1>

<form #form="ngForm">
  <mat-form-field appearance="legacy" style="width: 100%">
    <mat-label>First Name</mat-label>
    <input name="firstName" matInput
           [(ngModel)]="user.firstName"
           required>
  </mat-form-field>

  <mat-form-field appearance="legacy" style="width: 100%">
    <mat-label>Last Name</mat-label>
    <input name="lastName" matInput
           [(ngModel)]="user.lastName"
           required>
  </mat-form-field>

  <mat-form-field appearance="legacy" style="width: 100%">
    <mat-label>Email Address</mat-label>
    <input name="email" matInput
           [(ngModel)]="user.email"
           required
           email>
  </mat-form-field>

  <mat-form-field appearance="legacy" style="width: 100%">
    <mat-label>User Status</mat-label>
    <mat-select [(value)]="user.status">
      <ng-container *ngFor="let status of userStates">
        <mat-option [value]="status">{{status}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</form>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">
    CLOSE
  </button>
  <button type="submit" mat-raised-button [mat-dialog-close]="true" color="accent"
          (click)="updateUser()"
          [disabled]="form.invalid">
    SAVE
  </button>
</div>
