.full-width-table {
  width: 100%;
}

.user-active {
  color: green;
  display: flex;
  width: 50%;
  justify-content: center;
}

.user-inactive {
  color: red;
  display: flex;
  width: 50%;
  justify-content: center;
}

.mat-table  tr.mat-row:hover {
  background-color: #E9F0F3;
}

.mat-toolbar.mat-accent {
  background: #6196cc;
}

.fill-space {
  flex: 1 1 auto;
}
